<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <div class="main_body">
        <%- include("./parts/backtomain.ejs") %>
        <%- include("./parts/friends.ejs") %>
        <p id="alert-message"></p>
    </div>
    <%- include("./parts/footer.ejs") %>

    <script src="./js/js.js"></script>
    <script src='./js/icon.js'></script>
</body>