<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
    <script>
        const langStringList = '<%=DATA.langList %>', langList = langStringList.split(",");
        const langStringName = '<%=DATA.langName %>', langName = langStringName.split(",");        
    </script>
</head>
<body>
    <%- include("./parts/header.ejs") %>  
    <div class="main_body">
        <div class="part_wrap">
            <% if (DATA.permission.permAuthorised === 1) { %>        
                <% if (DATA.usersett.lang !== 'none') { %>
                    <button id='btnSpeak' title="main btn" onclick="redirect('/repeat-words')">Повторення слів &nbsp;<i class='fas fa-graduation-cap'></i></button>







                    
                <% } %> 
            <% } %> 
            <% if (DATA.permission.permAuthorised === 0) { %>
                <button id='btnSpeak' title="main btn" onclick="redirect('/repeat-words')">Повторення слів &nbsp;<i class='fas fa-graduation-cap'></i></button>
                <button id='btnSpeak' title="main btn" onclick="redirect('/settings')">Інформація про налаштування &nbsp;<i class='fas fa-cogs'></i></button>
            <% } %>             
        </div>
        <%- include("./parts/error.ejs") %>
    </div>
    <%- include("./parts/footer.ejs") %>
    <script src="./js/js.js"></script>
    <script src='./js/icon.js'></script>
    <% if (DATA.usersett.lang === 'none' && DATA.permission.permAuthorised === 1) { %>
        <script>
            const selectLanguageBox = $_('.main_body > .part_wrap')[0];
            langList.forEach((el, index) => { 
                selectLanguageBox.innerHTML += `<button class="selectLanguage" title="${el}" >${langName[index]}<img src="../img/lang/${el}.png"></button>`; 
            });            
            changeSettingsLists(selectLanguageBox.children, "my_lang", (result, i) => {
                if (result.error) { alertMessage.innerHTML = result.error }
                if (result.res) { location.reload() };
            });
        </script>
    <% } %> 
</body>