<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
    <script>
        const langString = '<%=DATA.langList %>', langList = langString.split(",");
    </script>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <div class="main_body">
        <div class="part_wrap">
            <% if (DATA.permission.permAuthorised === 1) { %>        
                <% if (DATA.usersett.lang === 'none' || DATA.usersett.lang === undefined) { %>

                    <p>SELECT Language</p>

                <% } else { %> 
                    <button id='btnSpeak' title="main btn" onclick="redirect('/repeat-words')">Повторення слів &nbsp;<i class='fas fa-graduation-cap'></i></button>


                    
                <% } %> 
            <% } %> 
            <% if (DATA.permission.permAuthorised === 0) { %>
                <button id='btnSpeak' title="main btn" onclick="redirect('/repeat-words')">Повторення слів &nbsp;<i class='fas fa-graduation-cap'></i></button>
                <button id='btnSpeak' title="main btn" onclick="redirect('/settings')">Інформація про налаштування &nbsp;<i class='fas fa-cogs'></i></button>
            <% } %>             
        </div>
        <%- include("./parts/error.ejs") %>
    </div>
    <%- include("./parts/footer.ejs") %>
    <script src="./js/js.js"></script>
    <script src='./js/icon.js'></script>
    
    <% if (DATA.usersett.lang === 'none' || DATA.usersett.lang === undefined) { %>
        <script>
            const selectLanguageBox = $_('.main_body > .part_wrap')[0]
            langList.forEach(el => { selectLanguageBox.innerHTML += `<button id='btnSpeak' title="${el}" >${el}<i class='fas fa-graduation-cap'></i></button>` });
            
            const setLanguage = () => {
                send({"type": "my_lang", "value": "uk-UA"}, "/setsettings", (result) => {
                    console.log('0000000', res);
                })
                
            }

        </script>
    <% } %> 
</body>