<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <div class="main_body">
        <%- include("./parts/backtomain.ejs") %>
        <div class="part_wrap">
            <div class="settings_box_default">
                <% if (DATA.permission.permAuthorised === 1) { %>        
                    <p><b><%=DATA.langPack.userName %>:</b> <%=DATA.user.surname %> <%=DATA.user.name %></p>
                    <p id="emailverified">
                        <b><i class='far fa-edit'></i> &nbsp; <%=DATA.langPack.email %>:</b> 
                        <span><%=DATA.user.email %></span></p>
                    <p id="birthday">
                        <b><i class='far fa-edit'></i> &nbsp; <%=DATA.langPack.birthday %>:</b> 
                        <span><%=DATA.user.birthday %></span>
                    </p>                    
                    <p id="gender">
                        <b><i class='far fa-edit'></i> &nbsp; <%=DATA.langPack.gender %>:</b>
                        <span> <%=DATA.langPack[DATA.user.gender] %> 
                            <i class='fa fa-<%=DATA.user.gender %>'></i>
                        </span>
                    </p>
                    <p><b><%=DATA.langPack.provider %>:</b> <%=DATA.user.provider %></p>
                    <p><b><%=DATA.langPack.registerDate %>:</b> <%=DATA.user.date_registered %></p>
                    <p class="line"></p>
                    <p><b><%=DATA.langPack.interface %>:</b> <b id="profile_interf"><%=DATA.usersett.interface %></b> </p>
                    <p><b><%=DATA.langPack.language %>:</b> <b id="profile_lang"><%=DATA.usersett.lang %></b> </p>
                    <p class="line"></p>
                <% } %> 
                <p><b><%=DATA.langPack.voice %>:</b> <%=DATA.usersett.voice %></p>
                <p><b><%=DATA.langPack.speed %>:</b> <%=DATA.usersett.spead %>x</p>
                <p><b><%=DATA.langPack.pitch %>:</b> <%=DATA.usersett.pitch %></p>
            </div>           
        </div>
        <%- include("./parts/error.ejs") %>
    </div>
    <%- include("./parts/footer.ejs") %>
    <script src="./js/js.js"></script>
    <script src='./js/icon.js'></script>
    <% if (DATA.permission.permAuthorised === 1) { %>        
        <script>            
            const profileInterf = $_('#profile_interf')[0];
            const profileLang = $_('#profile_lang')[0];
            profileInterf.innerHTML = langNameObj[profileInterf.innerHTML];
            profileLang.innerHTML = langNameObj[profileLang.innerHTML];


            //for change user (gender, birthday)
            ['gender', 'birthday', 'emailverified'].forEach(element => {
                $_(`#${element}>b>.fa-edit`)[0].addEventListener('click', () => {           
                    setTimeout(() => {
                        console.log(element);


                        plase = $_(`#${element}>span`)[0];
                        !$_(`.forRemote${element}`)[0] ? oldVersion = plase.innerHTML : null;                   
                        plase.innerHTML = settingsTemplate[element];                           
                        forRemote = $_(`#${element}>span>.forRemote${element}`);                       
                        const remotePlace = $_(`.forRemote${element}`)[0];
                        if (element === 'emailverified') { 
                            remotePlace.value = oldVersion; 
                            remotePlace.addEventListener('input', () => {
                                if (validEmail(remotePlace.value)) {
                                    remotePlace.title = remotePlace.value;
                                    remotePlace.style.borderColor = 'var(--main-color)';
                                } else if (remotePlace.value === '') {
                                    remotePlace.title = 'null';
                                    remotePlace.style.borderColor = 'var(--main-color)';
                                } else {
                                    remotePlace.title = '';
                                    remotePlace.style.borderColor = 'red';
                                };
                            });
                        };
                        if (element === 'birthday') { 
                            remotePlace.value = oldVersion;
                            remotePlace.addEventListener('change', () => { remotePlace.title = remotePlace.value });
                        } 
                        changeSettingsLists(plase.children, element, (result, i) => {
                            if (result.error) { 
                                plase.innerHTML = oldVersion;
                                alertMessage.innerHTML = result.error;
                            };
                            if (result.res || result.res === '') { 
                                plase.innerHTML = result.res;
                                oldVersion = result.res; 
                            };
                        });                        
                    }, 50);
                });
            });
        </script>
    <% } %> 
</body>