<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <div class="main_body">
        <%- include("./parts/backtomain.ejs") %>
        <div class="part_wrap">
            <div class="settings_box_default">
                <% if (DATA.permission.permAuthorised === 1) { %>        
                    <p><b><%=DATA.langPack.userName %>:</b> <%=DATA.user.surname %> <%=DATA.user.name %></p>
                    <p><b><i class='far fa-edit'></i> &nbsp; <%=DATA.langPack.email %>:</b> <%=DATA.user.email %></p>
                    <p><b><i class='far fa-edit'></i> &nbsp; <%=DATA.langPack.birthday %>:</b> <%=DATA.user.birthday %></p>
                    <p><b><i class='far fa-edit'></i> &nbsp; <%=DATA.langPack.gender %>:</b> <%=DATA.langPack[DATA.user.gender] %> <i class='fa fa-<%=DATA.user.gender %>'></i></p>
                    <p><b><%=DATA.langPack.provider %>:</b> <%=DATA.user.provider %></p>
                    <p><b><%=DATA.langPack.registerDate %>:</b> <%=DATA.user.date_registered %></p>
                    <p class="line"></p>
                    <p><b><%=DATA.langPack.interface %>:</b> <b id="profile_interf"><%=DATA.usersett.interface %></b> </p>
                    <p><b><%=DATA.langPack.language %>:</b> <b id="profile_lang"><%=DATA.usersett.lang %></b> </p>
                    <p class="line"></p>
                <% } %> 
                <p><b><%=DATA.langPack.voice %>:</b> <%=DATA.usersett.voice %></p>
                <p><b><%=DATA.langPack.speed %>:</b> <%=DATA.usersett.spead %>x</p>
                <p><b><%=DATA.langPack.pitch %>:</b> <%=DATA.usersett.pitch %></p>
            </div>           
        </div>
        <%- include("./parts/error.ejs") %>
    </div>
    <%- include("./parts/footer.ejs") %>
    <script src="./js/js.js"></script>
    <script src='./js/icon.js'></script>
    <% if (DATA.permission.permAuthorised === 1) { %>        
        <script>
            const profileInterf = $_('#profile_interf')[0];
            const profileLang = $_('#profile_lang')[0];
            profileInterf.innerHTML = langNameObj[profileInterf.innerHTML];
            profileLang.innerHTML = langNameObj[profileLang.innerHTML];
        </script>
    <% } %> 
</body>