<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>  
    <div class="main_body">
        <%- include("./parts/backtomain.ejs") %>        
        <div class="part_wrap">
            <% if (DATA.permission.permAuthorised === 1) { %>        
                <% if (DATA.usersett.lang !== 'none') { %>
                    <div class="search">
                        <input type="text" name="search" placeholder="Search...">
                        <i class='fa fa-search'></i>
                    </div>                    
                    <div class="search_list">




                    </div>          
                <% } %> 
            <% } %> 
            <% if (DATA.permission.permAuthorised === 0) { %>
                <div class="settings_box_default">
                    <b>You need to log in to add or edit words!</b>
                </div>
            <% } %>             
        </div>
        <%- include("./parts/error.ejs") %>
    </div>
    <%- include("./parts/footer.ejs") %>
    <script src="./js/js.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/modal_window.js"></script>
    <script src='./js/icon.js'></script>
    <% if (DATA.usersett.lang === 'none' && DATA.permission.permAuthorised === 1) { %>
        <script>
            const selectLanguageBox = $_('.main_body > .part_wrap')[0];
            showLangList('<%=DATA.langList %>', '<%=DATA.langName %>', selectLanguageBox);
            changeSettingsLists(selectLanguageBox.children, "my_lang", (result, i) => {
                if (result.res) { location.reload() };
            });
        </script>
    <% } %> 
</body>