<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
        <script>
            const langString = '<%=DATA.langList %>', langList = langString.split(",");
            const voiceString = '<%=DATA.voiceList %>', langArr = voiceString.split(",");
            const interfaceLangParam = '<%=DATA.usersett.interface %>';
        </script>
</head>
<body>
    <%- include("./parts/header.ejs") %>    
    <div class="main_body">
        <%- include("./parts/backtomain.ejs") %>
        <div class="part_wrap">
            <% if (DATA.permission.permAuthorised === 1) { %>        
                <div class="settings_box">
                    <div class="lang_title_wrap">
                        <h5 id="interface-title"><%=DATA.langPack.interface %></h5>
                    </div>
                    <div class="settings-interface-box">
                        <div>
                            <p>English</p>
                            <div class="interface-check" title="en-US"></div>
                        </div>
                        <% if (DATA.usersett.lang !== 'none' && DATA.usersett.lang !== undefined) { %>
                            <div>      
                                <div class="interface-check" title="my"></div>                      
                                <p>Your language</p>
                            </div>
                        <% } %> 
                    </div>
                </div>
                <div class="settings_box">
                    <div class="lang_title_wrap">
                        <h5 id="language-title"><%=DATA.langPack.language %></h5>
                        <% if (DATA.usersett.lang !== 'none' && DATA.usersett.lang !== undefined) { %>
                            <img id="my-lang" src="./img/lang/<%=DATA.usersett.lang %>.png" alt="" title="<%=DATA.usersett.lang %>">                            
                        <% } %>                         
                    </div>
                    <div class="settings-my-lang-box"></div>
                </div>
                <div class="settings_box">
                    <h5 id="voice-title"><%=DATA.langPack.voice %></h5>
                    <div class="settings_wrap">
                        <select id='voice-list'></select>
                    </div>
                </div>
                <div class="settings_box">
                    <h5 id="speed-title"><%=DATA.langPack.speed %></h5>
                    <div class="settings_wrap">
                        <input type="range" id="voice-speed" min="0.5" max="2" step="0.1">
                        <p><span id="voice-speed-label"></span> x</p>
                    </div>
                </div>
                <div class="settings_box">
                    <h5 id="pitch-title"><%=DATA.langPack.pitch %></h5>
                    <div class="settings_wrap">
                        <input type="range" id="voice-pitch" min="0" max="2" step="0.1">
                        <p><span id="voice-pitch-label"></span></p>
                    </div>
                </div>
                <div class="settings_box">                    
                    <h5 id="color-title"><%=DATA.langPack.color %></h5>                    
                    <div class="settings-color-box"></div>
                </div>
            <% } %>
            <% if (DATA.permission.permAuthorised === 0) { %>
                <div class="settings_box_default">
                    <b>If you are not authorized, then only the standard settings are available to you!</b>
                    <p>Voice type: Google UK English Female</p>
                    <p>Speech speed: 1x</p>
                    <p>Voice pitch: 1</p>
                </div>
            <% } %> 
            <%- include("./parts/error.ejs") %>
        </div>           
    </div>
    <%- include("./parts/footer.ejs") %>
    <script src="./js/js.js"></script>
    <script src='./js/icon.js'></script>
    <% if (DATA.permission.permAuthorised === 1) { %>
        <script src='./js/settings.js'></script>
    <% } %>
</body>